/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

// Color

$light-purple: #be9ed8 //#9659A9
$purple: #6344D2
$light-orange: #FFC53A
$orange: #F29023
$light-blue: #01EEDC
$laser-blue: #6EEFF2
$blue: #0165C3
$white: #FFFFFF

// Background

.index__container
	background-color: $light-purple



// Show & hide functions

.show 
	display: block

table, th, td
	border: 1px solid black
	border-collapse: collapse

td.selected 
	background-color: red

	