// Breakpoints
$xl: 1280px
$md: 640px
$smp: 411px
$sm: 375px
$xs: 320px

.index__container
	display: grid
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr
	height: 100%
	@media screen and (min-width: $xs) and  (max-width: $sm - 1)
		grid-template-columns: 1fr 1fr 1fr 1fr
		max-height: 640px
		grid-row-gap: 16px
	@media screen and (min-width: $sm) and  (max-width: $smp - 1)
		grid-template-columns: 1fr 1fr 1fr 1fr
		max-height: 812px
		grid-row-gap: 20px
	@media screen and (min-width: $smp) and  (max-width: $md - 1)
		grid-template-columns: 1fr 1fr 1fr 1fr
		max-height: 823px
		grid-row-gap: 24px
	@media screen and (min-width: $md) and  (max-width: $xl - 1)
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
		max-height: 1366px
		grid-row-gap: 56px
	@media screen and (min-width: $xl)
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
		min-height: 1367px
		grid-row-gap: 72px







	




