
// First big container




.index__logo
	grid-column-start: 1
	grid-column-end: 5
	grid-row-start: 1
	grid-row-end: 2
	img
		height: auto
		width: 100%

.user__info
	grid-column-start: 2
	grid-column-end: 4
	grid-row-start: 2
	grid-row-end: 6
	
	.user__img
		grid-column-start: 2
		grid-column-end: 4
		grid-row: 2
		img

	.user__input
		grid-column-start: 2
		grid-column-end: 4
		.user__name
			grid-row: 3

		.user__pass
			grid-row: 3

		.dropbtn
			













