/* CONTAINER QUIZZ */
.menu__quizz
    @media screen and (min-width: $xs) and  (max-width: $md - 1)
        grid-column-start: 2
        grid-column-end: 4
        grid-row-start: 2
        grid-row-end: 6
    @media screen and (min-width: $md)
        grid-column-start: 3
        grid-column-end: 5
        grid-row-start: 2
        grid-row-end: 6

.quizz__top
    // As Grid-parent
    display: grid
    grid-template-columns: 1fr 1fr
    // As Grid-child
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 2

.quizz__list
    display: grid
    grid-template-columns: 1fr 1fr
    // As Grid-child
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 2
    grid-row-end: 4

.quizz__elements
    display: grid
    grid-template-columns: 1fr 1fr
    // As Grid-child
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 4
    grid-row-end: 5
    

.quizz__heading
    text-align: center
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 1
    grid-row-end: 2

.quizz__questions
    text-align: center
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 2
    grid-row-end: 4

.quizz__buttons
    text-align: center
    grid-column-start: 1
    grid-column-end: 3
    grid-row-start: 4
    grid-row-end: 5






/* QUIZZ STYLING */

.divTable 
    text-align: center
    height: 30px
    width: 40px
    display: table

.divTableCell
    font-size: 13px
    vertical-align: middle
    display: table-cell

.divTableCelle  
    font-size: 16px
    vertical-align: middle
    display: table-cell

.divTableCellp
    font-size: 23px
    vertical-align: middle
    display: table-cell

.divTableRow 
    display: table-row

.divTableBody 
    display: table-row-group

.frac_pot
    display: inline-block
    width: 1em

.frac 
    display: inline-block
    width: 2em

.num 
    text-align: center
    border-bottom: 1px solid black

.denum 
    text-align: center























    