/* QUIZZ STYLING */

.divTable 
    text-align: center
    height: 30px
    width: 40px
    display: table

.divTableCell
    font-size: 13px
    vertical-align: middle
    display: table-cell

.divTableCelle  
    font-size: 16px
    vertical-align: middle
    display: table-cell

.divTableCellp
    font-size: 23px
    vertical-align: middle
    display: table-cell

.divTableRow 
    display: table-row

.divTableBody 
    display: table-row-group

.frac_pot
    display: inline-block
    width: 1em

.frac 
    display: inline-block
    width: 2em

.num 
    text-align: center
    border-bottom: 1px solid black

.denum 
    text-align: center























    